### dictionary의 아이템 출력하기
 - dictionary의 경우 기본적으로 순회하게 되면 key값을 참조
 - keys()를 이용해서 key만 순회가능
 - values()를 이용해서 value만 순회가능
 - items()를 이용해서 tuple형태로 key,value순회가능

In [ ]:
a = {'korea':'seoul', 'japan':'tokyo', 'canada':'ottawa'}

for k in a:
    print(k,a[k])

In [ ]:
list(a.items())

In [ ]:
li = list(a.items())
for key, value in li:
    print(key, value)

### for에서 index사용하기
* 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함

In [ ]:
a = ['a', 'b', 'c', 'd', 'e']
# for num in a:
#     print(num)

for index, num in enumerate(a):
    if index > 3:
        print(index, num)

### for에서 index 사용하기
* 기본적으로 for에 리스트를 순회하는 경우, 값만 추출함
* iterable 객체를 리턴(반환)하는 함수
 - range(), reversed(), enumerate(), map()

In [ ]:
# 1~100까지의 합
print(sum(range(1,101)))

#### for 연습

In [ ]:
names = ['Kim','Park','Lee','Choi','Yun']
for name in names:
    print('you are ', name)

In [ ]:
word = 'dreams'
for s in word:
    print('word : ', s)

In [ ]:
# 소문자를 대문자로 출력
greeting = 'GoodMorning'

for g in greeting:
    if g.isupper():
        print(g)
    else:
        print(g.upper())

In [ ]:
# 소문자를 대문자로 대문자를 소문자로 바꿔서 출력
greeting = 'GoodMorning'

for g in greeting:
    if g.isupper():
        print(g.lower(), end='')
    else:
        print(g.upper(), end='')

In [ ]:
# for - else 실습
# 반복문이 정상적으로 수행된 경우 else 블럭 수행
members = [14, 3, 4, 5, 10, 24, 223, 15, 36, 38]

for num in members:
    if num == 33:
        print('found : 33!')
        break
    else:
        print('not found : ', num)
else:
    print('not found ....')

# loop 중첩
* 중첩은 무한히 가능하다
* 반복횟수는 외부루프X내부루프

### 구구단 출력하기

2 * 1 = 2

2 * 2 = 4 .....

In [ ]:
# x = [2,3,4,5,6,7,8,9]
# y = [1,2,3,4,5,6,7,8,9]

for x in range(1,10):
    for y in range(2,10):
        #print(y,'*',x,'=',x*y, end='    ')
        #print('{0} * {1} = {2:02d}'.format(y,x,x*y), end='    ')
        print('%d * %d = %02d'%(y,x,x*y), end='    ')
    print()

In [5]:
# while문을 이용해 구구단 출력

x = [1,2,3,4,5,6,7,8,9]
y = [2,3,4,5,6,7,8,9]

i = 0
while i < len(x):
    j = 0
    while j < len(y):
        print('%d * %d = %02d'%(y[j],x[i],x[i]*y[j]), end='    ')
        j += 1
    print()
    i += 1

2 * 1 = 02    3 * 1 = 03    4 * 1 = 04    5 * 1 = 05    6 * 1 = 06    7 * 1 = 07    8 * 1 = 08    9 * 1 = 09
2 * 2 = 04    3 * 2 = 06    4 * 2 = 08    5 * 2 = 10    6 * 2 = 12    7 * 2 = 14    8 * 2 = 16    9 * 2 = 18
2 * 3 = 06    3 * 3 = 09    4 * 3 = 12    5 * 3 = 15    6 * 3 = 18    7 * 3 = 21    8 * 3 = 24    9 * 3 = 27
2 * 4 = 08    3 * 4 = 12    4 * 4 = 16    5 * 4 = 20    6 * 4 = 24    7 * 4 = 28    8 * 4 = 32    9 * 4 = 36
2 * 5 = 10    3 * 5 = 15    4 * 5 = 20    5 * 5 = 25    6 * 5 = 30    7 * 5 = 35    8 * 5 = 40    9 * 5 = 45
2 * 6 = 12    3 * 6 = 18    4 * 6 = 24    5 * 6 = 30    6 * 6 = 36    7 * 6 = 42    8 * 6 = 48    9 * 6 = 54
2 * 7 = 14    3 * 7 = 21    4 * 7 = 28    5 * 7 = 35    6 * 7 = 42    7 * 7 = 49    8 * 7 = 56    9 * 7 = 63
2 * 8 = 16    3 * 8 = 24    4 * 8 = 32    5 * 8 = 40    6 * 8 = 48    7 * 8 = 56    8 * 8 = 64    9 * 8 = 72
2 * 9 = 18    3 * 9 = 27    4 * 9 = 36    5 * 9 = 45    6 * 9 = 54    7 * 9 = 63    8 * 9 = 72    9 * 9 = 81

In [ ]:
# 1 ~ 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
for x in range(1,101):
    if x % 2 == 0 or x % 11 == 0:
        print(x, end=' ')

In [ ]:
# a = [22,1,3,4,7,98,21,55,87,99,19,20,45]에서 최대값과 최소값을 찾으시오.
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]
# print(max(a))
# print(min(a))

min1 = a[0]
max1 = a[0]
for x in a:
    if min1 > x:
        min1 = x
    if max1 < x:
        max1 = x

print(min1)
print(max1)

In [ ]:
# a = [22,1,3,4,7,98,21,55,87,99,19,20,45]에서 평균을 구하시오
a = [22,1,3,4,7,98,21,55,87,99,19,20,45]
print(sum(a)/len(a))