### 딕셔너리 자료형
- 순서가 없다.
- 중복을 허용하지 않는다.
- 수정이 가능
- 삭제가 가능

#### 딕셔너리는 JSON과 비슷
- 원소를 Key, Value의 한쌍으로 표현한다.

In [8]:
# 선언
a = {'name':'Lee', 'phone':'010-1231-2345', 'birth':'991010'}
print('a : ', a, type(a))
b = {0:'Heelo Python!', 1:'hello Coding'}
print(b)

c = {'arr':[1,2,3,4]}

a :  {'name': 'Lee', 'phone': '010-1231-2345', 'birth': '991010'} <class 'dict'>
{0: 'Heelo Python!', 1: 'hello Coding'}

In [9]:
#출력

print('a : ', a['name'])
# 데이터가 없응 경우 에러
# get으로 접근시 안전하다
print('a: ', a.get('name')) # 에러없으 None출력
print(b[0])
print(b.get(0))

print(c['arr'])
print(c['arr'][2])
print(c.get('arr'))
print(c.get('arr')[2])

a :  Lee
a:  Lee
Heelo Python!
Heelo Python!
[1, 2, 3, 4]
3
[1, 2, 3, 4]
3

In [18]:
# 딕셔너리 추가
a['age'] = 30
print('a : ', a)
a['addr'] = '인천'
print('a : ', a)
a['rank'] = (1,2,3,4,)
print('a : ', a)

a :  {'name': 'Lee', 'phone': '010-1231-2345', 'birth': '991010', 'age': 30}
a :  {'name': 'Lee', 'phone': '010-1231-2345', 'birth': '991010', 'age': 30, 'addr': '인천'}
a :  {'name': 'Lee', 'phone': '010-1231-2345', 'birth': '991010', 'age': 30, 'addr': '인천', 'rank': (1, 2, 3, 4)}

In [22]:
# keys, values, items

print('a : ', a.keys())
# print('a : ', a.keys()[3]) 에러 발생
print('a : ', list(a.keys())) # 리스트 형변환
print('a : ', list(a.keys())[3])

a :  dict_keys(['name', 'phone', 'birth', 'age', 'addr', 'rank'])
a :  ['name', 'phone', 'birth', 'age', 'addr', 'rank']
a :  age

In [26]:
# keys()
temp = list(a.keys())
print(temp)
print(temp[1:3])

['name', 'phone', 'birth', 'age', 'addr', 'rank']
['phone', 'birth']

In [27]:
# values()
print(a.values())
print(list(a.values()))
temp_v = list(a.values())
print(temp_v[1:5])

dict_values(['Lee', '010-1231-2345', '991010', 30, '인천', (1, 2, 3, 4)])
['Lee', '010-1231-2345', '991010', 30, '인천', (1, 2, 3, 4)]
['010-1231-2345', '991010', 30, '인천']

In [30]:
# items()
print(a.items())
print(list(a.items()))
temp_i = list(a.items())
print(temp_i[:2])

dict_items([('name', 'Lee'), ('phone', '010-1231-2345'), ('birth', '991010'), ('age', 30), ('addr', '인천'), ('rank', (1, 2, 3, 4))])
[('name', 'Lee'), ('phone', '010-1231-2345'), ('birth', '991010'), ('age', 30), ('addr', '인천'), ('rank', (1, 2, 3, 4))]
[('name', 'Lee'), ('phone', '010-1231-2345')]

In [32]:
print('name' in a)
print('name' in b)

True
False